@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}



#tp1{
    border: 2px dashed blue;
}


p{
    border: 2px dashed green;
}

.imagem{
    border: 2px dashed red;
}

