@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(216, 216, 216);
}

header{
    background-color: gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header h1{
    color: white;
    margin: 0;
}

nav > a{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
}

nav > a:hover{
    background-color: rgb(31, 30, 30);
}

main{
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}