@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    
    display: grid;
    grid-template-rows: repeat(5, 100px 50px);
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
}


.item1{
    background-color: rgb(255, 107, 169);
    grid-area: 1/1/2/4;
}

.item2{
    background-color: rgb(120, 120, 250);
    grid-area: 2/1/3/4;
}

.item3{
    background-color: rgb(163, 56, 163);
    grid-area: 3/1/5/3;
}

.item4{
    background-color: rgb(255, 130, 46);
    grid-area: 3/3/5/4;
}

.item5{
    background-color: rgb(255, 70, 107);
    grid-area: 5/1/6/4;
}