@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

div.branco{
    padding: 20px 5px;
    line-height: 30px;
}

div.branco > h1{
    padding-bottom: 10px;
}

div.cinza{
    background-color: lightgray;
    padding: 20px 10px;
}

div.comida, div.video > h2{
    padding: 0px 0px 10px 0px;
}

div.comida, div.video > p{
    line-height: 30px;
}

