@charset "UTF-8";

.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1{
    background-color: rgb(250, 57, 57);
    grid-area: 1/1/2/-1;
    /* grid-row: 1/2;
    grid-column: 1/-1; */
    /* grid-now: 1 / span 1
    grid-column: 1 / span 4
    */
}

.caixa2{
    background-color: rgb(68, 68, 255);
    grid-area: 2/1/-1/3;
    /* grid-row: 2/-1;
    grid-column: 1/3; */
}

.caixa3{
    background-color: rgb(50, 131, 50);
    grid-area: 2/3/-1/-1;
   /*  grid-row: 2/-1;
    grid-column: 3/-1; */
}